In [3]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

import seaborn as sns
from scipy import stats
import scipy.stats

%matplotlib inline

In [5]:
matplotlib.rc('font', family='Malgun Gothic')
plt.rc('font', family ='Malgun Gothic')

In [7]:
ds_mycars = pd.read_csv("/home/piai/bigdata/data/mycars.csv", engine = "python")
ds_mycars.head()

,manufacturer,model,displacement,year,cylinder,automatic,driving,mpg,highway_mileage,fuel,class
0,audi,a4,1.8,1999,4,auto,f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual,f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual,f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto,f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto,f,16,26,p,compact

In [9]:
ds_mycars.describe().round(3)

       displacement     year  cylinder      mpg  highway_mileage
count       234.000   234.00   234.000  234.000          234.000
mean          3.472  2003.50     5.889   16.859           23.440
std           1.292     4.51     1.612    4.256            5.955
min           1.600  1999.00     4.000    9.000           12.000
25%           2.400  1999.00     4.000   14.000           18.000
50%           3.300  2003.50     6.000   17.000           24.000
75%           4.600  2008.00     8.000   19.000           27.000
max           7.000  2008.00     8.000   35.000           44.000

In [22]:
df = ds_mycars[['driving', 'mpg']]
df.head()
df.groupby('driving').describe().round(3)

           mpg
         count    mean    std   min   25%   50%   75%   max
driving
4        103.0  14.330  2.874   9.0  13.0  14.0  16.0  21.0
f        106.0  19.972  3.627  11.0  18.0  19.0  21.0  35.0
r         25.0  14.080  2.216  11.0  12.0  15.0  15.0  18.0

In [23]:
df2 = ds_mycars[['driving','highway_mileage']]
df2.head()
df2.groupby('driving').describe().round(3)

        highway_mileage
                  count    mean    std   min   25%   50%   75%   max
driving
4                 103.0  19.175  4.079  12.0  17.0  18.0  22.0  28.0
f                 106.0  28.160  4.207  17.0  26.0  28.0  29.0  44.0
r                  25.0  21.000  3.663  15.0  17.0  21.0  24.0  26.0

In [30]:
ds_Exh_QC1 = pd.read_csv("/home/piai/bigdata/data/EXH_QC1.csv",engine = "python")
df = ds_Exh_QC1[['Flaws','Period']]
df.head()

     Flaws Period
0  Scratch    Day
1  Scratch    Day
2     Peel    Day
3     Peel    Day
4   Smudge    Day

In [31]:
count = df['Flaws'].value_counts().sort_index()
count

Other       6
Peel       15
Scratch    13
Smudge      6
Name: Flaws, dtype: int64

In [32]:
percent = count / sum(count) * 100
percent

Other      15.0
Peel       37.5
Scratch    32.5
Smudge     15.0
Name: Flaws, dtype: float64

In [35]:
#cumulative counts)계산 누적계산 6 + 15 => 21
cumcnt = np.cumsum(count)
cumcnt

Other       6
Peel       21
Scratch    34
Smudge     40
Name: Flaws, dtype: int64

In [36]:
cumpct = np.cumsum(percent)
cumpct

Other       15.0
Peel        52.5
Scratch     85.0
Smudge     100.0
Name: Flaws, dtype: float64

In [37]:
count_data = pd.DataFrame({'Count':count, 'Percent':percent,
                          'CumCnt': cumcnt, 'CumPct':cumpct})

count_data.columns.name = 'Flaws'

count_data

Flaws    Count  Percent  CumCnt  CumPct
Other        6     15.0       6    15.0
Peel        15     37.5      21    52.5
Scratch     13     32.5      34    85.0
Smudge       6     15.0      40   100.0

In [38]:
count2 = df['Period'].value_counts().sort_index()
count2

Day         7
Evening     7
Night      19
Weekend     7
Name: Period, dtype: int64

In [39]:
percent2 = count2 / sum(count2)*100
percent2

Day        17.5
Evening    17.5
Night      47.5
Weekend    17.5
Name: Period, dtype: float64

In [40]:
cumcnt2 = np.cumsum(count2)
cumcnt2

Day         7
Evening    14
Night      33
Weekend    40
Name: Period, dtype: int64

In [42]:
cumpct2 = np.cumsum(percent2)
cumpct2

Day         17.5
Evening     35.0
Night       82.5
Weekend    100.0
Name: Period, dtype: float64

In [43]:
count_data2 = pd.DataFrame({'Count':count2, 'Percent':percent2,
                          'CumCnt': cumcnt2, 'CumPct':cumpct2})

count_data2.columns.name = 'Period'

count_data2

Period   Count  Percent  CumCnt  CumPct
Day          7     17.5       7    17.5
Evening      7     17.5      14    35.0
Night       19     47.5      33    82.5
Weekend      7     17.5      40   100.0

In [46]:
mu = 115
sigma = 20
x = 135
prob = stats.norm.cdf(x,mu,sigma)
print("{0}분 이상 걸리는 A/S 작업 비율: {1:.1f}%".format(x,(1-prob)*100))

135분 이상 걸리는 A/S 작업 비율: 15.9%

In [49]:

mu=12

sigma =3
x1 = 12
x2 = 15

prob2= stats.norm.cdf(x2,mu,sigma)
print("{0}km 이상 {1}km 이하를 달릴 확률은 {2:.1f}%".format(x1,x2,(prob-0.5)*100))

12km 이상 15km 이하를 달릴 확률은 34.1%

In [53]:
f = 2.0
dfnum = 15
dfden = 15
prob = stats.f.cdf(x=f,dfn = dfnum, dfd = dfden)
print("P(X<=F): {:.3f}".format(prob))

P(X<=F): 0.904